{% extends 'base.html' %}
{% block content %}


    {% for post in posts %}
    {{ post.title }}
        {{ post.text }}
{% endfor %}

<div class="col-sm-5 col-md-3">
<div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Круті капці</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">купити</a> </p>
      </div>
 </div>
 </div>

 <div class="col-sm-3 col-md-3">
<div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Круті капці</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">купити</a> </p>
      </div>
 </div>
 </div>

 <div class="col-sm-5 col-md-3">
<div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Круті капці</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">купити</a> </p>
      </div>
 </div>
 </div>

 <div class="col-sm-5 col-md-3">
<div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Круті капці</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">купити</a> </p>
      </div>
 </div>
 </div>


     <div class="col-sm-5 col-md-3">
<div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Круті капці</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">купити</a> </p>
      </div>
 </div>
 </div>

 <div class="col-sm-5 col-md-3">
<div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Круті капці</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">купити</a> </p>
      </div>
 </div>
 </div>
{% endblock %}